configure
aclocal.m4
autom4te.cache*
install-sh
missing
depcomp
autoscan.log
configure.scan
*Makefile.in*
config.h.in
build/*
build-aux/*
java/dist/*
java/headers/*
java/.ant-targets-build.xml
html/*
java/lib/*
render/*
zophar/*
video/*

# compiled objects
*.o
*.so
*.lo
*.la
.deps
.libs
*.class
*$py.class
*.pyc

# java archives
*.jar

# editor swap files
.*.swp
*~
